table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.build-monitor {
  background-color: black;
  mat-card-header.monitor {
    background-color: black;
  }
  mat-card-content.monitor {
    background-color: black;
  }
  mat-icon.monitor {
    color: white;
  }
}
