.container {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
}

.dashboard-content {
  width: 100%;
}

.dashboard-header {
  width: 100%;
}

div.monitor {
  background-color: black;
}

mat-icon.monitor {
  color: white;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
