<div class="container" fxLayout="row" fxLayoutAlign="center none" [ngClass]="{'monitor': fullScreen && !gridView}">
  <div fxFlex="98%">
    <div fxLayout="column" fxLayoutAlign="space-around center">
      <div class="dashboard-content">
        <div fxLayout="row space-around" *ngIf="!gridView">
          <div [fxFlex.gt-sm]="cardFlex" fxFlex.gt-xs="50" fxFlex="100" *ngFor="let project of projectBuilds"
            class="pr-3 pb-3">
            <app-build-card [build]="project" [card-size]="cardFlex"></app-build-card>
          </div>
        </div>

        <div *ngIf="gridView">
          <app-build-table [builds]="projectBuilds"></app-build-table>
        </div>

      </div>

    </div>

  </div>
  <app-speed-dial-fab [fabButtons]="fabButtons" (actionEvent)="onSpeedDialFabAction($event)"></app-speed-dial-fab>
  <div id="search-dismiss" *ngIf="displaySearch" (click)="onDismissSearch()" style="background-color: rgba(128, 128, 128, 0.8);">
  </div>
  <div class="search-header" *ngIf="displaySearch" [@fadeInDownOnEnter] [@fadeOutUpOnLeave]>
    <div fxLayout="row" fxLayoutAlign="center center" >
      <div class="search-icon">
        <mat-icon>search</mat-icon>
      </div>
      <mat-form-field class="example-form-field">
        <mat-label>Search project</mat-label>
        <input matInput type="text" [(ngModel)]="searchValue" cdkFocusInitial (keydown.esc)="onEscSearchInput()">
        <button mat-button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear" (click)="searchValue=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

    </div>
    
    

  </div>
</div>